.app {
    background-color: #f1f2f5;
}

.app__body {
    display: flex;
}

@media only screen and (max-width: 800px) {
    .app__body {
      flex-direction: column;
      align-items: center;
    }
    .feed {
        flex: 0.9;
    }
    .sideBar {
        display: none;
    }
}